.login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em;
    margin: auto;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    border: 0.5em black solid;
    background-color: white;
    line-height: 0px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    border: 0.5em black solid;
    background-color: white;
    line-height: 0px;
}